body {
    background-color: #cad5d7;
    margin-top: 20px;
    font-family: 'Assistant', sans-serif;
    z-index:-1;

}

.homepage-page .homepage-header {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    background-color: #e4eaea;
    border-radius: 10px;


}

.homepage-page .homepage-header .cover {
    position: relative;
    border-radius: 15px;
}


.homepage-page .homepage-header .cover figure {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .homepage-page .homepage-header .cover figure {
        height: 110px;
        overflow: hidden;
    }
}

@media (min-width: 2400px) {
    .homepage-page .homepage-header .cover figure {
        height: 280px;
        overflow: hidden;
    }
}

.homepage-page .homepage-header .cover figure img {
    border-radius: 15px;
    width: 100%;
}

@media (max-width: 767px) {
    .homepage-page .homepage-header .cover figure img {
        -webkit-transform: scale(2);
        transform: scale(2);
        margin-top: 15px;
    }
}

@media (min-width: 2400px) {
    .homepage-page .homepage-header .cover figure img {
        margin-top: -55px;
    }
}

.homepage-page .homepage-header .cover .gray-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%);
}

.homepage-page .homepage-header .cover .cover-body {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 20px;
}

.homepage-page .homepage-header .cover .cover-body .homepage-pic {
    border-radius: 50%;
    width: 100px;
}

@media (max-width: 767px) {
    .homepage-page .homepage-header .cover .cover-body .homepage-pic {
        width: 70px;
    }
}

.homepage-page .homepage-header .cover .cover-body .homepage-name {
    font-size: 20px;
    font-weight: 600;
    margin-left: 17px;
}

.homepage-page .homepage-header .header-links {
    padding: 15px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #EAF3FA;
    border-radius: 15px;
}

.homepage-page .homepage-header .header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.homepage-page .homepage-header .header-links ul li a {
    color: #000;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.homepage-page .homepage-header .header-links ul li:hover,
.homepage-page .homepage-header .header-links ul li.active {
    color: #727cf5;
}

.homepage-page .homepage-header .header-links ul li:hover a,
.homepage-page .homepage-header .header-links ul li.active a {
    color: #727cf5;
}

.homepage-page .homepage-body .left-wrapper .social-links a {
    width: 30px;
    height: 30px;
}

.homepage-page .homepage-body .right-wrapper .latest-photos>.row {
    margin-right: 0;
    margin-left: 0;
}

.homepage-page .homepage-body .right-wrapper .latest-photos>.row>div {
    padding-left: 3px;
    padding-right: 3px;
}

.homepage-page .homepage-body .right-wrapper .latest-photos>.row>div figure {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 6px;
}

.homepage-page .homepage-body .right-wrapper .latest-photos>.row>div figure:hover {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

.homepage-page .homepage-body .right-wrapper .latest-photos>.row>div figure img {
    border-radius: 15px;
}

.rtl .homepage-page .homepage-header .cover .cover-body .homepage-name {
    margin-left: 0;
    margin-right: 17px;
}

.img-xs {
    width: 37px;
    height: 37px;
}

.rounded-circle {
    border-radius: 50% !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-header:first-child {
    border-radius: 0 0 0 0;
}

.card-header {
    padding: 0.875rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #E8F0F2;
}

.card-footer:last-child {
    border-radius: 0 0 0 0;
}

.card-footer {
    padding: 0.875rem 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #E8F0F2;
}

.grid-margin {
    margin-bottom: 1rem;
}

.card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}


/* backround color */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e4eaea;
    background-clip: border-box;
    border-radius: 15px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    padding-left: 0;

}

.nav-item:hover {
    text-shadow: 2px 2px 4px #2a2a2a;

}

.logo {
    width: 150px;
}

.announc {
    padding: 2%;
}

.side-bar {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
    padding-bottom: 30px;
    position: absolute;
    width: 200px;
    min-height: 600px;
}

.post-action {
    text-decoration: none;
    height: 30px;
    padding-top: 15px;

}

.post-actions {
    margin-left: 2px;
}

.post-pic {
    width: 100px;
    height: 100px;
    padding: 3px;
}

hr {
    margin-bottom: 3px;
}

.post {
    padding: 0 30px;
}

.main-page {
    text-align: center;
    padding-top: 10px;
}

.main-font {
    font-family: 'Assistant', sans-serif;
}

.post-btn,.view-btn{
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 40px;
    border-color:#A7BBC7;
    font-size: 15px;
    padding: 7px 15px;
    background-color:#A7BBC7;
}

.view-btn{
float:right;    
}

.post-btn{
    float:left;    
    }

.user-side{
    padding-top:50px;
    padding-left:10px;
    padding-right:10px;

}
.main-page,.card-header {
    text-align: center;
    padding-top: 10px;
    padding-bottom:40px;
    font-family: 'Assistant', sans-serif;
}

.dropdown-fc{
    padding-right:30px;
}

.t-download,th,td{
text-align: center;
}

#newPostLongTitle
{padding-left: 12rem}

.profile-button{
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 40px;
    border-color:#A7BBC7;
    font-size: 15px;
    background-color:#A7BBC7;
    position: relative;


}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.setting-title{
    font-size:20px;
    font-family: 'Source Sans Pro', sans-serif;
}

#add-skill:hover,.remove-skill:hover{
color: #007bff;
}

#profile-photo{
    height:150px;
    width:150px;
}

.notifaction-bar{
    z-index:100;
    position:fixed;
}